@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	font-family: 'Oswald', 'Futura', sans-serif;
	background-color: antiquewhite;
}

body, h2, ul, header, .app {
	margin: 0;
	padding: 0;
}

/*
div, h1, h2, ul, li {
	box-sizing: border-box;
}
*/

.container {
	width: 1172px;
	margin: 0 auto;
}

.title {
	padding: 30px 30px;
	margin: 0;
}

h2 {
	color: #403c3b;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
	display: inline-table;
	width: 500px;
}

li {
	background-color: #ec8b68;
	color: #fff;
	border-bottom: 1px solid #9f593f;
	font-size: 24px;
	letter-spacing: .05em;
	list-style-type: none;
	text-shadow: 2px 2px 1px #9f593f;
    height: 45px;
    padding: 6px 10px 0 10px;
}

.app {
	padding: 100px 0;
}

.write {
	justify-content: space-between;
	flex-direction: column;
	display: flex;
}

.notes {
	
}

.note {
	background-image: url(../images/progress.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 12%;
	padding: 10px 20px 10px 80px;
	text-decoration: none;
}

input[type='text']:focus, input[type='password']:focus, textarea:focus {
	border: 1px solid #fff;
	background-color: #fff;
	outline: none;
}

input[type='submit']:hover, a.add:hover, a.show:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#scriptResults {
	padding-bottom: 10px;
}

@media only screen and (max-width: 500px) {
    #page {
        max-width: 480px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
    }
}

@media only screen and (min-width: 960px) {
    #page {
        max-width: 480px;
        margin: 20px auto 20px auto;
   	}
}